
.container {
    width: 300px; 
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc; 
    border-radius: 5px; 
    text-align: center; 
}

h2 {
    margin-top: 0;
}
.input-container {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
label {
    display: inline-block;
    width: 80px;
    font-weight: bold;
    text-align: left;
}

input {
    flex: 1; 
    width: auto; 
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 20px auto 0; 
}

button:hover {
    background-color: #0056b3; 
}
